@font-face
  font-family "ADAM.CG PRO"
  font-style normal
  src url(../assets/fonts/ADAMCGPRO.otf)

body
  padding: 0;
  margin: 0;

h1
  font-family "ADAM.CG PRO"

button.facebook
  background-color: #c1c1c1;
